<div id="background-div">
    <div id="login-box-container">
        <div id="login-box-title">
            <h1>Login</h1>
        </div>
        <div id="login-box-username">
            <input type="email" placeholder="Email" required>
            
        </div>
        <div id="login-box-password">
            <input type="password" placeholder="Password" required>
        </div>
        <div id="login-box-forgot">
            <a href="#">Forgot Password</a><br>
            <a href="#">Register</a>
        </div>
        <div id="login-box-enter">
            <button name="enter">Login</button>
        </div>
    </div>
</div>